body.login {
  background: url("/img/body-background.jpg") no-repeat center;
  background-size: cover; }
  body.login .content {
    background-color: rgba(128, 128, 128, 0.6); }

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px; }

#header_sport > a, #header_city > a, #header_season > a {
  color: #fff; }
  #header_sport > a span.dashed, #header_city > a span.dashed, #header_season > a span.dashed {
    border-bottom: 1px dashed; }
#header_sport .bootstrap-select, #header_city .bootstrap-select, #header_season .bootstrap-select {
  background-color: #3b3f51;
  margin-top: 22px; }
  #header_sport .bootstrap-select .btn, #header_city .bootstrap-select .btn, #header_season .bootstrap-select .btn {
    border: none; }
    #header_sport .bootstrap-select .btn-default, #header_city .bootstrap-select .btn-default, #header_season .bootstrap-select .btn-default {
      color: white;
      background-color: #3b3f51; }
    #header_sport .bootstrap-select .btn .filter-option, #header_city .bootstrap-select .btn .filter-option, #header_season .bootstrap-select .btn .filter-option {
      text-align: right; }

a.logout i {
  color: #fff !important; }

.logo-lcb {
  height: 50px;
  margin-top: 10px !important; }

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  list-style: none;
  /*background-color: #fff;*/ }

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #536c79;
  content: "/"; }

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline; }

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none; }

.breadcrumb-item.active {
  color: #536c79; }

.bootstrap-datetimepicker-widget.dropdown-menu {
  display: block; }

.dropdown-menu-list > li > a {
  padding: 8px 16px;
  color: #6f6f6f;
  text-decoration: none;
  display: block;
  clear: both;
  font-weight: 300;
  line-height: 18px;
  white-space: nowrap; }
  .dropdown-menu-list > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5; }

.table-hover tbody tr {
  cursor: pointer; }

.post-links > li + li:before {
  color: #999;
  content: "\25cf";
  padding: 0 8px; }

.thumbnail a {
  display: inline-block;
  overflow: hidden;
  max-width: 100%; }
.thumbnail .caption {
  padding: 9px;
  color: #555; }
  .thumbnail .caption .post-links {
    margin-bottom: 0;
    font-size: 12px;
    padding-left: 0;
    width: 100%; }
    .thumbnail .caption .post-links:before, .thumbnail .caption .post-links:after {
      content: " ";
      display: table; }
    .thumbnail .caption .post-links > li {
      float: left;
      list-style: none; }
      .thumbnail .caption .post-links > li > a {
        text-decoration: none;
        color: #999;
        display: inline; }

.portlet.light.bordered > .portlet-footer {
  border-top: 1px solid #eef1f5;
  border-bottom: none; }

/*# sourceMappingURL=site.css.map */
